@media screen and (max-width: 635px) {
  .topnav a {
    display: none; }
  .topnav a.icon {
    display: block;
    position: fixed;
    right: 0.5rem;
    top: 0.5rem; }
  .topnav.responsive {
    position: relative;
    top: 0rem;
    left: 2rem; }
    .topnav.responsive .icon {
      position: fixed;
      right: 0.5rem;
      top: 0.5rem; }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left; } }

/*@media screen and (max-width: 635px)

    #about, #services, #works-ph
        .box
            display: block
            width: 25rem
            margin: auto

    #works-ph .row
        div
            width: 25rem
            height: 25rem
            align-self: center
    .ctr
        width: 90%
        margin: auto
        max-width: 800px */
/*
    #works-ph
        .row
            flex-direction: column
        .works-ph-1
            width: 15rem
            height: 15rem
            background: url("../img/works1.jpg")
            &:hover
                background: url("../img/works1-bw.jpg")
        .works-ph-2
            width: 15rem
            height: 15rem
            background: url("../img/works2.jpg")
            &:hover
                background: url("../img/works2-bw.jpg")
        .works-ph-3
            width: 15rem
            height: 15rem
            background: url("../img/works3.jpg")
            &:hover
                background: url("../img/works3-bw.jpg")
        .works-ph-4
            width: 15rem
            height: 15rem
            background: url("../img/works4.jpg")
            &:hover
                background: url("../img/works4-bw.jpg")
        .works-ph-5
            background: url("../img/works5.jpg")
            &:hover
                background: url("../img/works5-bw.jpg")
        .works-ph-6
            background: url("../img/works6.jpg")
            &:hover
                background: url("../img/works6-bw.jpg") */
