
.wrapper {
  border: 0px solid black;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}

body {
  margin: 0;
}

img {
  border-radius: 1%;
}

.logoo {
  font-style: italic;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  flex-basis: 250px;
  margin: 20px;
}

.project-card {
  background-color: white;
  border: 0px solid red;
}

.project-card > img {
  width: 100%;
  height: auto;
}

.project-card > h3 {
  text-align: center;
}

.project-card > p {
  font-size: 12px;
}

nav span {
  color:white;
}

nav h1 {
  color:#1ebba3; 
}

Link {
  color:white;
}

.navbar-item {
  color:white;
}
.navbar-item:hover {
  color:#1ebba3;

}