body {
    background: grey;  
  }
  div:first-child {
    opacity: 0.99; 
  }
  .b-1, .b-2, .b-3, .b-4, .b-5 {
    position: absolute;
    width: 50px;
    color: white;
    line-height: 300px;
    text-align: center;
    z-index: 1;
    }
  .b-1 {
    top: 20px;
    left: 20px;
    background: black;
  }
  .b-2 {
    top: 20px;
    left: 120px;
    background: black;
  }
  .b-3 {
    top: 20px;
    left: 220px;
    background: black;
  }
  .b-4 {
    top: 20px;
    left: 320px;
    background: black;
  }
  .b-5 {
    top: 20px;
    left: 420px;
    background: black;
  }
  .b-1:hover {
    top: 20px;
    left: 20px;
    border-top: 10px solid black;
    box-shadow: 0 0;

  }
  .b-2:hover {
    top: 20px;
    left: 120px;
    border-top: 10px solid black;
    box-shadow: 0 0;

  }
  .b-3:hover {
    top: 20px;
    left: 220px;
    border-top: 10px solid black;
    box-shadow: 0 0;

  }
  .b-4:hover {
    top: 20px;
    left: 320px;
    border-top: 10px solid black;
    box-shadow: 0 0;

  }
  .b-5:hover {
    top: 20px;
    left: 420px;
    border-top: 10px solid black;
    box-shadow: 0 0;


  }
  .w-1, .w-2, .w-3, .w-4, .w-5 {
    position: absolute;
    width: 95px;
    color: black;
    line-height: 500px;
    text-align: center;
    z-index: 0;
    border: 1px solid black;
  }
  .w-1 {
    top: 20px;
    left: 20px;
    background: white;
    box-shadow: 1px 5px 2px 1px black;
  }
  .w-2 {
    top: 20px;
    left: 120px;
    background: white;
    box-shadow: 1px 5px 2px 1px black;
  }
  .w-3 {
    top: 20px;
    left: 220px;
    background: white;
    box-shadow: 1px 5px 2px 1px black;
  }
  .w-4 {
    top: 20px;
    left: 320px;
    background: white;
    box-shadow: 1px 5px 2px 1px black;
  }
  .w-5 {
    top: 20px;
    left: 420px;
    background: white;
    box-shadow: 1px 5px 2px 1px black;
   }
    .w-1:hover {
    top: 20px;
    left: 20px;
    border-top: 10px solid black;
    box-shadow: 0 0 0 0;

  }
  .w-2:hover {
    top: 20px;
    left: 120px;
    border-top: 10px solid black;
    box-shadow: 0 0 0 0;

  }
  .w-3:hover {
    top: 20px;
    left: 220px;
    border-top: 10px solid black;
    box-shadow: 0 0 0 0;

  }
  .w-4:hover {
    top: 20px;
    left: 320px;
    border-top: 10px solid black;
    box-shadow: 0 0 0 0;

  }
  .w-5:hover {
    top: 20px;
    left: 420px;
    border-top: 10px solid black;
    box-shadow: 0 0 0 0;

  }