{
  margin:0;
  padding:0;
}
#container {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid black;
  font-family: arial, verdana, sans-serif;
}
#header{
  background-color: brown;
  width: 1180px;
  padding: 20px 10px;
  color: white;
}

  #nav {
  background-color: brown;
width: 1200px;
}
  #nav ul {
    list-style: none;
}
  #nav ul li {
    float: left;
    width: 200px;
    padding: 15px 0px;
    text-align: center;
}
  #nav ul li:hover {
    background-color: #ffd280;
    color: brown;
}

  #nav a {
    color: black;
}
  #middle {}

  #left {
    width: 800px;
    height: 300px;
    float: left;
}
.post {
  background: silver;
  margin: 20px;
  height: 200px;
}
.title{
  background-color: brown;
  padding: 15px 10px;
  color: white;
  font-style: 25px;
  font-weight: bold;
}
.description{

}
  #right {
    width: 400px;
    height: 300px;
    float: left;
}
#right h2 {
  text-align:center;
}
.latest_post_group {
  margin: 10px 0;
}
.latest_post {
  background-color: brown;
  border-right: 2px solid black;
  padding: 10px 0;
  text-align: center;
  color:white;
  margin: 10px 0;
}
  #footer {
    background-color: brown;
    width: 1200px;
    height: 50px;
}
