body {
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    background-image: url("../img/oboii.png")
    }
.h-r {
    text-align: center;
    color: #910041;
}
.h-b {
    text-align: center;
    color: black;
}
.h-w {
    text-align: center;
    color: white;
}
.adv {
    border-radius: 50%;
    border: 2px solid sandybrown;
    padding: 10px;
}
.container {
    margin:0 auto;
    border: 0px solid red;
}
.container-red {
    margin:0 auto;
    border: 0px solid red;
    background-color: #910041;
    color: white;
    padding-top: 5px;  
}
.container-beige {
    margin:0 auto;
    border: 0px solid red;
    background-color: #ffdeba;
    color: black;
    padding-top: 5px;  
}
.header {      
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5% 20px 5%;
    border: 0px solid red;
    }

.header-box-right {
    border: 0px solid blue;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-end;
}    
.header-box-left {
    border: 0px solid blue;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-start;
}    
.header-box-addr {
    border: 0px solid blue;
    display: flex;
    align-items: center;
    padding: 2px 0 2px 0;
}
.menu {
    background-color: #910041;
    padding: 0px 5% 3px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 0px solid white;
    border-top: 0px solid white;
    vertical-align: middle;
}
.illustration {
    padding: 0 5% 0 5%;        
    background-image: url("../img/carousel01.jpg");
    height: 360px;
    display: flex;
    justify-content: flex-end;
}
#callback-form {
    background-color: white;
    opacity: 0.8;
    align-self: center;
    padding: 20px 30px 30px 30px;
    border-radius: 7px;
    }
#name {
    border-radius: 11px;
    outline: 0;
}
#tel {
    border-radius: 11px;
    outline: 0;
}
.cb-f-i {
    border: 0px solid blue;
    text-align: center;
}
.feat-wew-serv {
    padding: 0 5% 3% 5%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 0px solid blue;
}
.feat-wew-servv {
    padding: 0 5% 0 5%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #910041;
}
.image-div {
    padding: 0.1%;
    border: 0px solid blue;
}
.img-s {
    border-radius: 50%;
    padding: 10px;
    border: 2px solid white;
}
.advise {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#ffdeba;
    padding: 0 5% 0 5%;    
}
.text-box {
    flex-basis: 200px;
    border: 5px solid blue;
    padding: 25px;
}
.write-us-btn {
    border-radius: 11px;
    background-color: #910041;
    border: none;
    color: white;
    margin: 10px 0 10px 0;
    padding: 4px 0px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    opacity: 1;
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s;
    font-size: 1.05em;
    width: 11.5em;
}
.write-us-btn:hover {
    background-color: #66002e;
    cursor: pointer;
}
.write-us-btn:focus {
    outline: 0;
}
#policy:visited {
color: black;
}
.m-btn {
    border: 0px solid blue;
    color: white;
    text-decoration: none;
    padding: 8px 3px 6px 3px;
    border-left: 1px solid white;
    border-bottom: 0px solid white;
    display: inline-block;
    width: 5em;
    text-align: left; 
}
.m-btn:hover {
    text-decoration: underline;
}
.img-loc-phone {
    width: 18px;
    height: 21px;
}