body {
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    background-image: url("../img/oboii.png"); 
}

.container {
margin: 0 auto;
}

.header {      
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 7%;
    margin-right: 7%;

}

.addresstop {
    align-self: center;
    color: black;

}

.writeus {
    background-color: #910041;
    align-self: center;
    color: white;
    padding: 5px;
    margin-left: 50%;
}

.menu {
    background-color: #910041;
    padding-left: 10%;
    padding-right: 10%;
}
a {
    color: white;
    margin: 20px;
    text-decoration: none;
}

.illustration {    
    background-image: url("../img/carousel01.jpg");
    height: 360px;
}

h1 {
text-align: center;
color: #910041;
border: 5px solid red;
margin-top: 60px;
}


.bgphotoform {
    border: 2px blue solid;
    background-color: silver;
    align-self: center;
    justify-self: right;
    height: 80%;
    width: 30%;
    opacity: 10%;
}

/*  СПЕЦПРЕДЛОЖЕНИЕ   */

.special {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;    
    border: 2px blue solid;
    background-image: url("../img/specialoffer.png");
    height: 360px;
    align-content: auto;

}

.special_form {
    border: 2px blue solid;
    background-color: silver;

    height: 200px;
    width: 200px;
    opacity: 10%;
}

.special_spacer {
    border: 2px blue solid;
    background-color: silver;
    align-self: right;
    justify-self: right;
    height: 20px;
    width: 20px;
    opacity: 10%;
}

.special_header {
    grid-column: 1/4;
    border: 2px blue solid;
    display: grid;
    text-align: center;
    color:#910041;
    font-weight: bold;
    text-decoration: none;

    font-size: 24px;
    padding: 20px;
    height: 30px;
}

.advise {
    
    display: grid;
    background-color:#ffdeba;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: 100px 100px 20px 0px;   
}

.adviseheader {
    
    text-align: center;
    color:#910041;
    background-color:#ffdeba;
    font-weight: bold;
    text-decoration: none;

    font-size: 22px;
    padding: 20px;
}

.ourfeatures {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;

    font-size: 11px;
    font-weight: bold;
    text-align: center;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    padding: 100px 100px 50px 50px;
    font-size: 14px;
}

.services {
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 20px;
    background-color: #910041;
    color: white;
    padding: 100px 100px 0px 0px;
  
}

.howwework {
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    padding: 100px 100px 20px 20px;

}

.ourprojects {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    padding: 100px 100px 40px 0px;
}

.ourdesigners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding: 50px;
    background-color: #ffdeba;
}

.box {
    border: 1px blue solid;
    justify-content: center;
}


.headerspecial {

    color:#910041;
    padding: 20px;
}

.headerdis {
    
    color:#910041;
    background-color:#ffdeba;
    font-size: 22px;
    padding: 20px;
}

.headerredbg {
    
    color:white;
    background-color:#910041;

    padding: 20px;
}

.specialoffer {
    text-align: center;
    background-color:purple;
    height: 300px;
}

.diplomas {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    background-color:rgba(210, 210, 210, 210);
    padding: 0px 60px 100px 100px;
}

.diplomasheader {
    display: grid;    
    text-align: center;
    background-color:rgba(210, 210, 210, 210);
    color:#910041;

    padding: 20px;
}

.headbottom {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: black;
    background-color:#ffdeba;
    padding: 100px 100px 0px 0px;
    height: 200px;

}

.contactheader {
    
    color:#910041;
    background-color:#ffdeba;

    padding-top: 20px;
}

.social_write_us_box {
    border: 2px blue solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
}

.button_write_us {
    background-color: #910041;
    border: 1px blue solid;
    color: white;
    padding: 20px 20px 0px 0px;
    grid-column: 1/4;
}



.social {

    border: 1px blue solid;
    grid-column: 1/4;
   
}