.benefits
   margin-bottom: 131px
   &__wrap
      max-width: 1262px
      background-color: #fff
      margin: 0 auto
      box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993)
      position: relative
   &__title
      width: 100%
      font-weight: 500
      font-size: 35px
      line-height: 42px
      padding: 93px 100px 88px 100px
      position: absolute
      top: 0
      left: 0
      transform: translateY(-100%)
      background-color: #fff
   &__cards
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-column-gap: 55px
      padding: 0 100px
   &__card
      grid-column: span 1
      margin-bottom: 112px
      &-pic
         max-width: 66px
         margin-bottom: 37px
      &-thumb
         display: block
      &-title
         font-weight: 500
         font-size: 18px
         line-height: 24px
         margin-bottom: 26px
      &-desc
         font-size: 16px
         line-height: 24px
         margin-bottom: 39px
      &-more
         display: inline-block
         padding-right: 59px
         font-size: 16px
         line-height: 24px
         color: #006dfe
         text-decoration: none
         background: url(../img/svg/arrow-right-ico.svg) no-repeat 95% center;
         transition: .2s all
         &:hover, &:focus
            background: url(../img/svg/arrow-right-ico.svg) no-repeat right center
         

      