
.places
   margin-bottom: 131px
   &__caption
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: space-between
      margin-bottom: 36px
   &__title
      margin-right: 15px
   &__view-all
      font-size: 16px
      color: #006dfe
      text-decoration: none
      padding-right: 59px
      background: url(../img/svg/arrow-right-ico.svg) no-repeat right center
      &:hover, &:focus
         opacity: .65
   &__cards
      display: grid
      grid-template-columns: repeat(6, 1fr)
      grid-gap: 10px
   &__card
      position: relative
      overflow: hidden
      &::after
         display: block
         content: ''
         width: 100%
         height: 100%
         background-color: rgba(21, 24, 36, 0.4)
         position: absolute
         top: 0
         left: 0
         z-index: 2         
      &:hover, &-pic
         transform: scale(1.05)
      &-title
         font-size: 50px
         line-height: 60px
         color: white
         position: absolute
         bottom: 27px
         left: 29px
         z-index: 3
      &_size_lg
         grid-column: span 3
      &_size_sm
         grid-column: span 2
      &-pic
         width: 100%
         transition: .15s all
         object-fit: cover
         &_size_lg
            height: 354px
         &_size_sm
            height: 283px
      &-link
         position: absolute
         top: 0
         left: 0
         width: 100%
         height: 100%
         z-index: 4         

