/* GLOBAL */
body {
  font: 1rem/1.5 'Calibri',Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0; }

.ctr {
  width: 80%;
  margin: auto;
  max-width: 1000px;
  display: block; }

ul {
  margin: 0;
  padding: 0; }

p, ul, h1, h4 {
  text-align: center; }

.sc-hdr {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  margin: auto; }
  .sc-hdr h1 {
    padding-top: 7rem;
    margin: 0; }
  .sc-hdr p {
    padding-bottom: 3rem; }

.sp {
  padding: 3rem;
  width: 100%; }

.sp-sm {
  padding: 1rem; }

/* TOPNAV */
header {
  width: 100%;
  background: black;
  font-weight: bold;
  color: white;
  position: fixed; }
  header span {
    color: #1ebba3;
    font-weight: bold; }
  header img {
    margin: 0 0 0 1rem;
    width: 1rem; }
  header input {
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #3a3a3a;
    border-left: 0;
    width: 2rem;
    outline: none;
    margin-right: 0.2rem;
    background: black;
    color: white; }
  header h1, header span, header p {
    margin: 0;
    padding: 0; }
  header span {
    font-weight: bold; }
  header .logo {
    font-size: 1.5rem;
    font-weight: 100;
    display: inline-block;
    margin-left: 2rem; }

.topnav {
  overflow: hidden;
  min-width: 20rem;
  position: fixed;
  right: 2rem;
  top: 0.5rem; }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0rem 0.5rem;
    margin: 0;
    text-decoration: none; }
    .topnav a:hover {
      color: #1ebba3; }
  .topnav .icon {
    display: none; }

.row {
  text-align: center; }

.box {
  display: inline-block;
  color: black;
  margin: auto;
  padding: 2rem;
  width: 12rem;
  text-align: center;
  border-radius: 0.4rem; }

button {
  font-weight: bold;
  text-align: center;
  color: white;
  background: #00887a;
  border: 0;
  margin: 0.4rem;
  width: 7rem;
  padding: 0.5rem 0.2rem;
  outline: none;
  border-radius: 0.4rem; }
  button:hover {
    background: white;
    color: black;
    cursor: pointer; }

#intro {
  background: url("../img/intro-bg-dark.png");
  height: 35rem;
  color: white; }

#about img {
  max-width: 20%; }

#about .row div {
  margin: 0.7rem; }

#services {
  background: #e4fdfa; }
  #services button {
    color: white;
    background: #00887a;
    border: 2px solid white; }
    #services button:hover {
      border: 2px solid transparent;
      background: white;
      color: #00887a; }
  #services img {
    width: 4rem; }
  #services .row div {
    color: white;
    background: #00887a;
    margin: 0.7rem; }

#contact, #intro, #team img, #works-ph .row div, #services .row div, #about .row div, header, .box-text, .box-ph-3, .box-ph-2, .box-ph-1 {
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); }

#works-ph .row div {
  display: inline-block;
  width: 15em;
  height: 15rem;
  border-radius: 0.4rem;
  background-repeat: no-repeat;
  margin: 0.7rem;
  background-size: 100%; }

#works-ph .works-ph-1 {
  background: url("../img/works1.jpg"); }
  #works-ph .works-ph-1:hover {
    background: url("../img/works1-bw.jpg"); }

#works-ph .works-ph-2 {
  background: url("../img/works2.jpg"); }
  #works-ph .works-ph-2:hover {
    background: url("../img/works2-bw.jpg"); }

#works-ph .works-ph-3 {
  background: url("../img/works3.jpg"); }
  #works-ph .works-ph-3:hover {
    background: url("../img/works3-bw.jpg"); }

#works-ph .works-ph-4 {
  background: url("../img/works4.jpg"); }
  #works-ph .works-ph-4:hover {
    background: url("../img/works4-bw.jpg"); }

#works-ph .works-ph-5 {
  background: url("../img/works5.jpg"); }
  #works-ph .works-ph-5:hover {
    background: url("../img/works5-bw.jpg"); }

#works-ph .works-ph-6 {
  background: url("../img/works6.jpg"); }
  #works-ph .works-ph-6:hover {
    background: url("../img/works6-bw.jpg"); }

#pricing {
  background: #f3f3f3;
  padding-bottom: 5rem; }
  #pricing .row .box {
    background: white;
    border-radius: 0.7rem;
    width: 15rem; }
  #pricing h4 {
    font-weight: normal;
    border-bottom: 1px solid silver;
    padding-bottom: .5rem; }
  #pricing h2 {
    font-weight: 200;
    font-size: 300%;
    margin: 0;
    padding: 0; }
  #pricing h3 {
    font-weight: normal;
    padding: 1.5rem 0 0 0;
    margin: 0; }
  #pricing span {
    font-size: 30%; }
  #pricing button {
    margin-bottom: 1rem; }
  #pricing button {
    color: white;
    background: #3949ab; }
    #pricing button:hover {
      color: white;
      background: #3960ab; }
  #pricing .row div {
    margin: 0.7rem;
    padding: 0;
    background: silver; }
  #pricing .row h2, #pricing .row h3 {
    background: #3949ab;
    color: white; }

#team img {
  width: 15rem;
  height: 15rem;
  border-radius: 0.4rem;
  margin: 3rem 0 1rem 0; }

#team .row .box {
  width: 15rem;
  padding: 0;
  margin: 0.7rem; }
  #team .row .box p {
    margin: 0.5rem 0 1rem 0; }
  #team .row .box a {
    color: #00887a;
    margin: 0.2rem; }

#blog {
  background: #e4fdfa; }
  #blog .row {
    margin-bottom: 1rem; }
  #blog .blog-text-inside {
    padding: 2rem 0.5rem; }
  #blog .blog-text-inside-r {
    padding: 2rem 0.5rem;
    text-align: right; }
  #blog .box-text {
    display: inline-block;
    background: white;
    height: 20rem;
    margin: auto;
    width: 60%;
    padding: 0 2rem;
    text-align: left; }
  #blog .box-ph-1, #blog .box-ph-2, #blog .box-ph-3 {
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 20rem;
    color: black;
    border-radius: 0; }
  #blog .box-ph-1 {
    background: url("../img/blog1.jpg"); }
  #blog .box-ph-2 {
    background: url("../img/blog2.jpg"); }
  #blog .box-ph-3 {
    background: url("../img/blog3.jpg"); }

#contact {
  background: url("../img/intro-bg-dark.png");
  color: white;
  background-repeat: no-repeat;
  background-size: 400%; }
  #contact a {
    color: #1ebba3;
    padding-bottom: 2rem; }
  #contact span {
    margin: 0; }
  #contact .box {
    color: white;
    padding: 0;
    margin: 0; }
  #contact .row, #contact .row-full {
    float: center;
    margin: auto; }
  #contact button {
    margin: 0; }

input {
  border-radius: 0.4rem;
  padding: 1rem;
  outline: none; }

.box-ta-left {
  float: left;
  height: 2rem; }

.box-ta-right {
  float: right;
    float-height: 2rem; }

textarea {
  display: block;
  float: center;
  height: 10rem;
  width: 92%;
  border-radius: 0.4rem;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  margin: 0;
  color: grey; }

.box-ta-left textarea, .box-ta-right textarea {
  height: .5rem;
  width: 10rem;
  font-family: Arial, Helvetica, sans-serif;
  color: grey; }

.btn-btm {
  display: block;
  float: right;
  margin: 0; }
